<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.make.mapper.INoticeMapper">
	<!-- 查询学生list，like姓名 -->
	<!-- <select id=" getStudentListLikeName " parameterType="StudentEntity" -->
	<!-- resultMap="studentResultMap"> -->
	<!-- SELECT * from STUDENT_TBL ST -->
	<!-- <if test="studentName!=null and studentName!='' "> -->
	<!-- WHERE ST.STUDENT_NAME LIKE CONCAT(CONCAT('%', -->
	<!-- #{studentName}),'%') -->
	<!-- </if> -->
	<!-- </select> -->

	<!-- 查询公告信息 -->
	<select id="loadNoticeInfo" parameterType="com.make.bean.NoticeBean" resultType="com.make.bean.NoticeBean">
		select * from
		${dbName}.t_notice
		<where>
			<if test="title!=null and title!='' ">
				title like #{title}
			</if>
		</where>
	</select>
</mapper>
