<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.make.mapper.ISaveTypeMapper">
	<!-- 查询存储类型信息 -->
	<select id="loadInfo" parameterType="com.make.bean.SaveTypeBean" resultType="com.make.bean.SaveTypeBean">
		SELECT * from
		t_savetype
		where `status`=0
		<if test="id>0">and id =#{id} </if>
	</select>
	<!-- 添加存储类型信息 -->
	<insert id="insertInfo" useGeneratedKeys="true" keyProperty="id" parameterType="com.make.bean.SaveTypeBean">
		INSERT INTO `t_savetype` (`saveType`, `comments`, `creatDate`, `owner`, `status`)
		VALUES (#{saveType},#{comments},#{creatDate},#{owner},#{status});
	</insert>
</mapper>