<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.make.mapper.IReceiveMapper">
	<!-- 查询收货信息 -->
	<select id="loadInfo" parameterType="com.make.bean.ReceiveBean" resultType="com.make.bean.ReceiveBean">
		SELECT
		r.id,
		r.fk_ljID,
		r.count,
		r.fk_bzID,
		r.thDate,
		r.thMan,
		r.thCar,
		r.realCount,
		r.`status`,
		r.link_id,
		r.bd_date,
		l.ljname,
		p.packName,
		c.consumerName
		FROM
		t_receive AS r
		INNER JOIN t_ljxxgl AS l ON l.ljid = r.fk_ljID
		INNER JOIN t_pack AS p ON p.id = r.fk_bzID
		INNER JOIN t_consumer as c ON c.id = l.fk_khId

		<if test="status>0">
			and r.`status`=#{status}
		</if>
		<if test="id>0">
			and r.id =#{id}
		</if>
		<if test="link_id>0">
			and r.link_id =#{link_id}
		</if>
		<if test="consumerName!=null and consumerName!='' ">
			<!-- //只要有了客户信息，就说明前台输入了关键字 -->
			and (c.consumerName like '%${consumerName}%' or l.ljname like '%${ljname}%' or p.packName like '%${packName}%')
		</if>
		<if test="thDate!=null and thDate!='' ">
			<!-- 大于号&gt;转义 -->
			and r.thDate &gt;= #{thDate}
		</if>
		<if test="thMan!=null and thMan!='' ">
			<!-- 小于号&lt;转义 -->
			and r.thDate &lt; #{thMan}
			<!-- thMan暂存结束日期 -->
		</if>
	</select>

	<!-- 修改收货信息 -->
	<update id="updateInfo" parameterType="com.make.bean.ReceiveBean">
		UPDATE `wms_10000`.`t_receive`
		SET
		<if test="fk_ljID!=null and fk_ljID!=''">
			`fk_ljID`=#{fk_ljID},
		</if>
		<if test="count>0">
			`count`=#{count},
		</if>
		<if test="fk_bzID!=null and fk_bzID!=''">
			`fk_bzID`=#{fk_bzID},
		</if>
		<if test="thDate!=null and thDate!=''">
			`thDate`=#{thDate},
		</if>
		<if test="thMan!=null and thMan!=''">
			`thMan`=#{thMan},
		</if>
		<if test="thCar!=null and thCar!=''">
			`thCar`=#{thCar},
		</if>
		<if test="realCount>0">
			`realCount`=#{realCount},
		</if>
		`status`=#{status}
		WHERE (`id`=#{id});
	</update>

	<!-- 根据提货ID查询条形码信息 -->
	<select id="loadTxmBy_ReceID" resultType="com.make.bean.TxmBean">
		select * from t_txm
		where 1=1
		<if test="fk_receId>0">
			and fk_receId=#{fk_receId}
		</if>
	</select>
	<!-- 根据提货ID查询条形码与库位信息 -->
	<select id="loadTxmKwBy_ReceID" resultType="com.make.bean.TxmBean">
		SELECT
		t.id,
		t.txm,
		t.realCount,
		t.fk_receId,
		t.fk_kwTypeId,
		t.fk_kwID,
		t_kwlxgl.kwname as kwType,
		t_kwxxgl.kwname as kwName
		FROM
		t_txm AS t
		INNER JOIN t_kwlxgl ON t_kwlxgl.kwid = t.fk_kwTypeId
		INNER JOIN t_kwxxgl ON t_kwxxgl.kwid = t.fk_kwID
		where 1=1
		<if test="fk_receId>0">
			and fk_receId=#{fk_receId}
		</if>
	</select>



	<!-- 批量****************添加条形码信息 -->
	<insert id="insertTxm" parameterType="java.util.List">
		INSERT INTO `t_txm` (`txm`, `realCount`, `fk_receId`)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.txm},#{item.realCount},#{item.fk_receId})
		</foreach>
	</insert>

	<!-- 修改条形码信息 -->
	<update id="updateTxm" parameterType="com.make.bean.TxmBean">
		UPDATE `t_txm`
		<trim prefix="SET" suffixOverrides=",">
			<if test="txm!=null and txm!=''">
				`txm`=#{txm},
			</if>
			<if test="realCount!=null and realCount!=''">
				`realCount`=#{realCount},
			</if>
			<if test="fk_kwTypeId>0">
				`fk_kwTypeId`=#{fk_kwTypeId},
			</if>
			<if test="fk_kwID>0">
				`fk_kwID`=#{fk_kwID}
			</if>
		</trim>
		WHERE (`id`=#{id})
	</update>

	<!-- 查询提货信息的实际数量 -->
	<select id="loadRealCount" resultType="String">
		select sum(realCount) realCount from t_txm where fk_receId=#{fk_recId};
	</select>

	<!-- 查询库位类型信息 -->
	<select id="loadKWType" resultType="com.make.bean.KwlxglBean">
		select * from t_kwlxgl where iddelete=0
	</select>

	<!-- 查询库位信息 -->
	<select id="loadKWInfo" resultType="com.make.bean.KwxxglBean">
		select * from t_kwxxgl where useTag=0
	</select>
</mapper>